html, body {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
	background-color: black;
	color: white;
}

.order {
	margin: 5px;
	max-width: 50%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: : center;
	align-items: center;
}

.order button {
	text-decoration: none;
	padding: 10px;
	width: 20%;
	height: 30%;
}

.order button:hover {
	background-color: teal;
	color: white;
}